/* Contact.css */

.contact-container {
    max-width: 100vw;
    margin: -100px auto 0 auto;
    padding: 40px;
    text-align: center;
    align-items: center;
}
.information{
    display: flex;
    max-width: 100vw;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    align-items: center;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.contact-item {
    max-width: 100%;
    align-items: center;
    margin-bottom: 20px;
    text-align: left; /* Align text to the left */
}

.contact-item-content {

    display: flex; /* Use flexbox */
    align-items: center; /* Center content vertically */
}

.contact-item h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    margin-right: 10px;
    width: 150px; /* Fixed width for label */
}

.contact-item p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #666;
    margin: 0; /* Remove default margin */
}

.contact-image {
    flex: 50%;
    margin-top: 20px;
}

.contact-image img {
    width: 400px;
    display: block; /* Ensure image is centered properly */
    margin: 0 auto; /* Center the image horizontally */
}
@media (max-width: 768px) {
    .information {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start; /* Align items to the left */
    }

    .contact-item {
        max-width: 100%; /* Allow full width for contact items */
    }

    .contact-item h2 {
        width: auto; /* Reset width for label */
        margin-right: 0; /* Remove right margin */
    }
}